<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Sufra-Rewards</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>ar</string>
	</array>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.sufrarewards</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ExpoLocalization_supportsRTL</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>fb</string>
		<string>instagram</string>
		<string>twitter</string>
		<string>sms</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>We use calendar access for scheduling if needed.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access so you can take and upload photos.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow app to use your location for better service.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need your location to provide better service, even when the app is in the background.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to show nearby services and deliver to you faster.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need microphone access so you can record audio when necessary.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need permission to save photos you capture to your library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to let you select and upload images.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>We use tracking to send you personalized notifications and offers.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Sackers Gothic Std Heavy.otf</string>
		<string>InterFace_Trial_Bd.ttf</string>
		<string>InterFace_Trial_BdIt.ttf</string>
		<string>InterFace_Trial_Blk.ttf</string>
		<string>InterFace_Trial_BlkIt.ttf</string>
		<string>InterFace_Trial_It.ttf</string>
		<string>InterFace_Trial_Lt.ttf</string>
		<string>InterFace_Trial_LtIt.ttf</string>
		<string>InterFace_Trial_Rg.ttf</string>
		<string>InterFace_Trial_Th.ttf</string>
		<string>InterFace_Trial_ThIt.ttf</string>
		<string>InterFace_Trial_XBd.ttf</string>
		<string>InterFace_Trial_XBdIt.ttf</string>
		<string>Poppins-Black.ttf</string>
		<string>Poppins-BlackItalic.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-BoldItalic.ttf</string>
		<string>Poppins-ExtraBold.ttf</string>
		<string>Poppins-ExtraBoldItalic.ttf</string>
		<string>Poppins-ExtraLight.ttf</string>
		<string>Poppins-ExtraLightItalic.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-LightItalic.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-MediumItalic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-SemiBoldItalic.ttf</string>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-ThinItalic.ttf</string>
		<string>Rowdies-Bold.ttf</string>
		<string>Rowdies-Light.ttf</string>
		<string>Rowdies-Regular.ttf</string>
		<string>Rubik-Black.ttf</string>
		<string>Rubik-BlackItalic.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-BoldItalic.ttf</string>
		<string>Rubik-ExtraBold.ttf</string>
		<string>Rubik-ExtraBoldItalic.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-LightItalic.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-MediumItalic.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-SemiBold.ttf</string>
		<string>Rubik-SemiBoldItalic.ttf</string>
	</array>
</dict>
</plist>
